<div class="container">
  <blockquote class="informations">
    <h5>
      Triplan utilise une IA générative pour vous proposer des programmes
      personnalisés pour vos vacances. Malheureusement, cette IA est payante à
      chaque génération de programme. <br />
      Tout les mois, le créateur met à disposition un montant pour effectuer des
      requêtes. Lorsqu'il n'y a plus de crédit disponible, il faut attendre le
      prochain mois.
    </h5>
  </blockquote>

  <ul class="collapsible expendable">
    <li class="active">
      <div class="collapsible-header">
        <i class="material-icons">filter_list</i>Filtres rapides
      </div>
      <div class="collapsible-body">
        <form class="col s12" id="filtresRapides">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">date_range</i>
              <input
                type="text"
                class="datepicker"
                placeholder="jj/mm/aa"
                required
              />
              <label class="active" for="first_name">Arrivée</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">access_time</i>
              <input
                type="text"
                class="timepicker"
                placeholder="hh:mm"
                required
              />
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">date_range</i>
              <input
                type="text"
                class="datepicker"
                placeholder="jj/mm/aa"
                required
              />
              <label class="active" for="first_name">Départ</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">access_time</i>
              <input
                type="text"
                class="timepicker"
                placeholder="hh:mm"
                required
              />
            </div>

            <div class="input-field col s12">
              <i class="material-icons prefix">pin_drop</i>
              <input
                placeholder="Pays, villes ou régions"
                id="destination"
                type="text"
                class="validate"
                required
              />
              <label class="active" for="destination">Destination</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">remove_red_eye</i>
              <textarea
                placeholder="Demandes spécifiques"
                id="details"
                class="materialize-textarea"
              ></textarea>
              <label class="active" for="details">Envies et contraintes</label>
            </div>
          </div>
        </form>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">filter_list</i>Filtres supplémentaires
      </div>
      <div class="collapsible-body">
        <form class="col s12" id="filtresSupplementaires">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">home</i>
              <input
                placeholder="25 rue de l'Annexion, 74000 Annecy, France"
                id="hebergement"
                type="text"
                class="validate"
              />
              <label class="active" for="hebergement">Hébérgement</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">favorite</i>
              <input
                placeholder="Détente, exploration, culture, famille, etc.."
                id="objectifs"
                type="text"
                class="validate"
              />
              <label class="active" for="destination"
                >Objectifs du séjour</label
              >
            </div>

            <div class="input-field col s12">
              <i class="material-icons prefix">restaurant_menu</i>
              <input
                placeholder="Cuisine locale, étoilée, végétarienne/végétalienne, etc.."
                id="transport"
                type="text"
                class="validate"
              />
              <label class="active" for="transport">Souhaits culinaires</label>
            </div>

            <div class="input-field col s12">
              <i class="material-icons prefix">local_activity</i>
              <select multiple class="formSelect">
                <option value="" disabled>Activités préférées</option>
                <option value="1">Culture</option>
                <option value="2">Gastronomie</option>
                <option value="3">Nature</option>
                <option value="4">Sport</option>
                <option value="5">Autres</option>
              </select>
              <label>Activités</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">face</i>
              <input
                placeholder="Nombre d'adultes"
                id="adultes"
                type="number"
                class="validate"
              />
              <label class="active" for="adultes">Adultes</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">child_care</i>
              <input
                placeholder="Nombre d'enfants"
                id="enfants"
                type="number"
                class="validate"
              />
              <label class="active" for="enfants">Enfants</label>
            </div>
            <p class="col s4 center">
              <label>
                <input type="checkbox" />
                <span><i class="material-icons center">child_friendly</i></span>
              </label>
            </p>
            <p class="col s4 center">
              <label>
                <input type="checkbox" />
                <span><i class="material-icons center">accessible</i></span>
              </label>
            </p>
            <p class="col s4 center">
              <label>
                <input type="checkbox" />
                <span><i class="material-icons center">pets</i></span>
              </label>
            </p>

            <p class="col s6 center">
              <label>
                <input type="checkbox" />
                <span><i class="material-icons center">directions_car</i></span>
              </label>
            </p>
            <p class="col s6 center">
              <label>
                <input type="checkbox" />
                <span
                  ><i class="material-icons center">directions_bike</i></span
                >
              </label>
            </p>

            <p class="col s4 center">
              <label>
                <input name="group1" type="radio" />
                <span
                  ><i class="material-icons center">monetization_on</i></span
                >
              </label>
            </p>
            <p class="col s4 center">
              <label>
                <input name="group1" type="radio" />
                <span
                  ><i class="material-icons center">monetization_on</i
                  ><i class="material-icons center">monetization_on</i></span
                >
              </label>
            </p>
            <p class="col s4 center">
              <label>
                <input name="group1" type="radio" />
                <span
                  ><i class="material-icons center">monetization_on</i
                  ><i class="material-icons center">monetization_on</i
                  ><i class="material-icons center">monetization_on</i></span
                >
              </label>
            </p>
          </div>
        </form>
      </div>
    </li>
  </ul>
  <div class="fixed-action-btn">
    <a
      class="btn-floating btn-large"
      type="submit"
      (click)="genererProgramme($event)"
    >
      <i class="large material-icons">send</i>
    </a>
  </div>
  <div id="programme">
    <div class="card-panel teal" *ngIf="!isLoading">
      <span class="white-text">
        Bienvenue sur Triplan, l'application de planification de vacances ! Pour
        générer ton programme personnalisé, commence par remplir les filtres
        rapides en sélectionnant tes dates d'arrivée et de départ, ainsi que ta
        destination. Si tu as des envies spécifiques ou des contraintes,
        n'oublie pas de les ajouter dans le champ correspondant. <br />
        <br />
        N'hésite pas à explorer les filtres supplémentaires pour affiner ton
        programme en fonction de l'adresse de ton hébergement, de tes activités
        préférées et de tes souhaits culinaires. Tu peux aussi indiquer le
        nombre d'adultes et d'enfants, et préciser d'autres détails comme
        l'accessibilité ou la présence d'animaux. <br />
        <br />Une fois tous les filtres sélectionnés, clique sur le bouton
        d'envoi en bas à droite pour générer ton programme de vacances. Un
        instant plus tard, ton itinéraire personnalisé apparaîtra ici même.
        <br /><br />
        Bonne planification et bonnes vacances !
      </span>
    </div>
    <div class="progress" *ngIf="isLoading">
      <div class="indeterminate"></div>
    </div>
  </div>
</div>
